.home {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 8px;
  color: #f8fafc;
}

.home select,
.home button {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.home button {
  background-color: #38bdf8;
  color: #0f172a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home button:hover {
  box-shadow: 0 0 10px #60a5fa;
}
