.App-header {
  background-color: #1e293b;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #f8fafc;
}

.App-logo {
  height: 30px;
  pointer-events: none;
  margin-right: 8px;
}
