.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40px;
  pointer-events: none;
  margin-right: 10px;
}
